/.*
!/.dockerignore
!/.env
!/.ruby-version
!/.travis.yml
!/log/.keep
!.vscode/
*.swp
/.bundle
/*.csv
data/private/
docker-compose.override.yml
Dockerrun.aws.json
.DS_Store
*.gz
/log/*
my_*.sh
/vendor
/tmp
