<div class="row header-logo">
  <div class="col-md-10">
    <a href="/">
    <img  itemprop="logo"
          src="http://www.collectionspace.org/wp-content/uploads/2016/12/CollectionSpace.png"
          alt="CollectionSpace"
          class="logo-img"/>
    </a>
  </div>
  <div class="col-md-2">
    <span class="version"><small><%= version %></small></span>
  </div>
</div>
