<nav class="navbar navbar-expand-lg bg-inverse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Import
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item disabled" href="#" disabled>API</a>
          <%= link_to 'CSV', import_path, class: 'dropdown-item' %>
        </div>
      </div>
    </li>
    <li class="nav-item"><%= button_to 'Transfer', transfer_path, class: 'nav-link btn btn-secondary', method: :get %></li>
    <li class="nav-item"><%= button_to 'Info', connection_path, class: 'nav-link btn btn-info', method: :get %></li>
  </ul>
  <!-- <form class="form-inline pull-xs-right search"> -->
  <!--   <input class="form-control" type="text" placeholder="Search"> -->
  <!--   <button class="btn btn-success" type="submit">Search</button> -->
  <!-- </form> -->
</nav>
