<div class="row">
<div class="col-md-12">
  <p class="text-muted">Transfer Status</p>
  <table class="table">
    <thead class="">
      <tr>
        <th>Success</th>
        <th>Message</th>
        <th>Created<th>
      </tr>
    </thead>
    <tbody>
      <% transfer_statuses.each do |status| %>
        <tr>
          <td><%= status.transfer_status %></td>
          <td><%= status.transfer_message %></td>
          <td><%= status.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
