/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap";

a {
  color: #404040;
  text-decoration: underline;
}

.header-logo {
  margin: 1rem 0rem;
}

footer .logo {
  width: 100%;
  margin-top: -0.5rem;
}

.title {
  color: #fff;
}

.version {
  float: right;
}

.navbar {
  background-color: #F0F5FB;
  border: 1px solid #CCC;
}

.nav-item {
  margin-right: 0.5rem;
}

.nav-link {
  width: 5rem;
}

.dropdown-toggle {
  height: 2.6rem;
}

.search button {
  margin-left: 0.5rem;
  background-color: #73AA4F;
  color: #FFF;
}

.btn-success {
  background-color: #73AA4F;
  border-color: #73AA4F;
  color: #FFF;
  text-decoration: none;
}

.notice {
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  text-align: center;
}

h1, h3 {
  font-size: 1.5rem;
  color: #759ECF;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron h1 span {
  font-size: 2.5rem;
  border-bottom: 1px solid #CCC;
  color:#759ECF;
  font-weight: bold;
}

.sidebar {
  margin-top: 0.5rem;
}

.list-group {
  margin-bottom: 1rem;
}

.list-group-item {
  background-color: #F0F5FB;
  text-decoration: none;
}

.page-header {
  padding: 0.5rem 0;
}

.connection-description {
  margin-left: 1rem;
}

form {
  background-color: #F0F5FB;
}

form .module {
  border-bottom: 1px solid #CCC;
}

table {
  margin-top: 0.5rem;
}

thead {
  background-color: #F0F5FB;
  color: #535353;
}

.table th, .table td {
  border-top: 1px solid #CCC;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12rem;
  background-color: #FCFCFC;
}

.json, .xml {
  background-color: #EFEFEF;
  padding: 0.5rem;
}

.metadata {
  margin-left: -0.875rem;
}

#import, #transfer {
  width: 50%;
  margin: 0 auto;
  border: 1px dotted #CCC;
  padding: 1rem;
}

input[name=remote_action] {
  margin-right: 0.5rem;
}

.file-selected {
  margin-top: -1rem;
}

.external {
  display: inline;
}

.page {
  margin: 0 0.2rem;
}

footer p {
  text-align: center;
}
